.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    list-style: none;
    margin: 0 5px;
}

.pagination li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
}

.pagination li a:hover {
    background-color: #f5f5f5;
}

.pagination .active a {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    width: 30%;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-body {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
